.cardContainer {
    padding: 96px 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 0 200px;
}

.cardContainer .card-title-container {
    margin-bottom: 60px;
}

.cardContainer .card-title-container .card-title {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    margin-bottom: 16px;
    text-align: center;
}

.cardContainer .card-title-container .card-description {
    text-align: center;
    color: #666;
}

.card {
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(204, 204, 204);
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card .card-price {
    position: absolute;
    top: 136px;
    right: 16px;
    background-color: #191818;
    padding: 8px 12px;
    border-radius: .5rem;
}

.card .card-price p {
    color: #fff;
    font-weight: 600;
}

.card .card-price p span {
    font-size: 14px;
    color: #d1d1d1;
}

.card .available {
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: #2f6ae4;
    padding: 4px 10px;
    border-radius: 3.40282e38px;
    color: #fff;
    font-size: .75rem;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
}

.card .card-content {
    padding: 0 20px;
}

.card .card-image {
    width: 100%;
    margin-bottom: 20px;
}

.card .card-image img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover .card-image img {
    transform: scale(1.05);
}

.card .card-title {
    margin-bottom: 10px;
}

.card .card-content .card-title p:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
}

.card .card-content .card-title p:nth-child(2) {
    font-weight: 500;
    color: #666;
}

.card .card-content .card-info1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.card .card-content .card-info1 .card-info1-item div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}

.card .card-content .card-info1 .card-info1-item div p {
    margin-left: 10px;
}

.card .card-content .card-info2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.card .card-content .card-info2 .card-info2-item div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}

.card .card-content .card-info2 .card-info2-item div p {
    margin-left: 10px;
}

.card-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.card-button-container .card-button {
    padding: 8px 24px;
    border-radius: 5px;
    border: 1px solid #c4c7d2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-button-container .card-button svg {
    margin-left: 10px;
}

/*  mobile view */

@media (max-width: 860px) {
    .cardContainer {
        padding: 96px 64px;
    }

    .cardContainer .container {
        padding: 0;
    }

    .cardContainer .card-title-container .card-title {
        font-size: 2rem;
        font-weight: 600;
        color: #000;
        margin-bottom: 10px;
    }

    .cardContainer .card-title-container .card-description {
        text-align: center;
        color: #666;
        font-size: 14px;
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: repeat(3, 1fr); */
        gap: 30px;
        justify-items: center;
        align-items: center;
    }

    .card {
        margin: 0 auto;
        width: 100%;
        max-width: 350px;
    }
}

@media (min-width: 861px) and (max-width: 1020px) {
    .cardContainer {
        padding: 96px 64px;
    }

    .cardContainer .container {
        padding: 0;
    }

    .cardContainer .card-title-container .card-title {
        font-size: 2rem;
        font-weight: 600;
        color: #000;
        margin-bottom: 10px;
    }

    .cardContainer .card-title-container .card-description {
        text-align: center;
        color: #666;
        font-size: 14px;
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(3, 1fr); */
        gap: 30px;
        justify-items: center;
        align-items: center;
    }

    .card {
        margin: 0 auto;
        width: 100%;
        max-width: 350px;
    }
}

@media (min-width: 1021px) and (max-width: 1270px) {
    .cardContainer {
        padding: 96px 0;
    }

    .cardContainer .container {
        padding: 0;
    }

    .cardContainer .card-title-container .card-title {
        font-size: 2rem;
        font-weight: 600;
        color: #000;
        margin-bottom: 10px;
    }

    .cardContainer .card-title-container .card-description {
        text-align: center;
        color: #666;
        font-size: 14px;
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(3, 1fr);      */
        column-gap: 20px;
        row-gap: 30px;
        justify-items: center;
        align-items: center;
    }

    .card {
        margin: 0 auto;
        width: 100%;
        max-width: 450px;
    }
}

@media (min-width: 1271px) and (max-width: 1400px) {
    .cardContainer {
        padding: 96px 0;
    }

    .cardContainer .container {
        padding: 0;
    }

    .cardContainer .card-title-container .card-title {
        font-size: 2.5rem;
        font-weight: 600;
        color: #000;
        margin-bottom: 10px;
    }

    .cardContainer .card-title-container .card-description {
        text-align: center;
        color: #666;
        font-size: 14px;
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: repeat(3, 1fr);      */
        column-gap: 20px;
        row-gap: 30px;
        justify-items: center;
        align-items: center;
    }

    .card {
        margin: 0 auto;
        width: 100%;
        max-width: 380px;
    }
}

@media (min-width: 1401px) and (max-width: 1500px) {
    .cardContainer {
        padding: 96px 0;
    }

    .cardContainer .container {
        padding: 0;
    }

    .cardContainer .card-title-container .card-title {
        font-size: 2.5rem;
        font-weight: 600;
        color: #000;
        margin-bottom: 10px;
    }

    .cardContainer .card-title-container .card-description {
        text-align: center;
        color: #666;
        font-size: 14px;
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: repeat(3, 1fr);      */
        column-gap: 20px;
        row-gap: 30px;
        justify-items: center;
        align-items: center;
    }

    .card {
        margin: 0 auto;
        width: 100%;
        max-width: 400px;
    }
}

@media (min-width: 1501px) and (max-width: 1780px) {
    .cardContainer {
        padding: 96px 0;
    }

    .cardContainer .container {
        padding: 0;
    }

    .cardContainer .card-title-container .card-title {
        font-size: 2.5rem;
        font-weight: 600;
        color: #000;
        margin-bottom: 10px;
    }

    .cardContainer .card-title-container .card-description {
        text-align: center;
        color: #666;
        font-size: 14px;
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: repeat(3, 1fr);      */
        column-gap: 20px;
        row-gap: 30px;
        justify-items: center;
        align-items: center;
    }

    .card {
        margin: 0 auto;
        width: 100%;
        max-width: 450px;
    }
}