.header {
    background-color: #f1f5f9;
    padding: 16px 128px;
    /* 16px 70px for mobile */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid #cacaca;
    position: relative;
}

.header .header-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-container .right-side {
    display: flex;
    align-items: center;
}

.header .right-side .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c4c7d2;
    padding: 0px 12px;
    border-radius: 3.40282e38px;
    margin-right: 20px;
}


.header .right-side .search-bar input {
    outline: none;
    border: none;
    padding: 6px 0;
}

.header .right-side .search-bar svg path {
    color: oklch(44.6% .03 256.802);
}

.header .right-side .nav-link {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
}

.header .right-side .login-button {
    background-color: #2563eb;
    color: #fff;
    padding: 8px 32px;
    border-radius: .5rem;
    cursor: pointer;
}

/* mobile menu */

@media (max-width: 915px) {
    .header {
        padding: 16px 30px;
    }

    .header .header-mobile-menu {
        display: block;
        cursor: pointer;
    }

    .header .header-mobile-menu svg {
        font-size: 20px;
        cursor: pointer;
    }

    .header .header-mobile-menu-content {
        position: fixed;
        right: 0;
        top: 62px;
        height: 93.4vh;
        width: 100%;
        background-color: #f1f5f9;
        padding: 16px 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .header .header-mobile-menu-content.active {
        transform: translateX(0);
    }

    .header .header-mobile-menu-content .nav-link {
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 400;
        color: #575757
    }

    .header .header-mobile-menu-content .login-button {
        background-color: #2563eb;
        color: #fff;
        padding: 8px 32px;
        border-radius: .5rem;
        cursor: pointer;
    }

    .header .header-container .right-side {
        display: none;
    }
}

@media (min-width: 916px) and (max-width: 1300px) {
    .header{
        padding: 16px 40px;
    }
}