.list-car-container {
    padding: 100px 128px;
}

.list-car-header h1{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.form-group{
    margin: 10px auto;
}

.list-car-form form label{
    font-size: 18px;
    font-weight: 600;
}

.form-group-label{
    margin: 10px auto;
    width: 50%;
}

.form-group-input{
    margin: 10px auto;
    width: 50%;
}

.list-car-form form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.list-car-form form textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.form-button{
    margin: 40px auto;
    width: 50%;
}

.form-button button{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.images{
    margin: 10px auto;
    width: 50%;
}

.image-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 10px;
}

.image-container .image-item{
    width: 150px;
    height: 100px;
}

.image-container .image-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}